/* Results.js */
.results-city {
	font-size: 4rem;
}

.results-country {
	font-size: 2rem;
}

.results-temp {
	font-size: 6rem;
	margin: 10px 0;
	color: #f15186;

	& > span {
		font-size: 3rem;
		color: #333;
	}
}

.results-condition {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
}
