@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
	font-size: 62.5%;
}

body {
	font-family: "Raleway", "Noto Sans JP", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	font-display: swap;
	color: #333;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("https://drive.google.com/uc?export=view&id=1-_W981DQCXJBhgidvzGRECD-1xZuqBPW") center center no-repeat;
	background-size: cover;
	/* https://drive.google.com/file/d/1-_W981DQCXJBhgidvzGRECD-1xZuqBPW/view?usp=sharing */
}

.container {
	width: 50vw;
	text-align: center;
	padding: 40px 20px;
	border-radius: 15px;
	backdrop-filter: blur(20px);
	box-shadow: 4px 4px 13px 5px rgba(0, 0, 0, 0.25);

	@media only screen and (max-width: 700px) {
		& {
			width: 80vw;
		}
	}
}

/* Loading.js */
.loading {
	border: 4px solid #f15186;
	border-top: 4px solid #ffffff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: auto;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
